mixin footer
    footer.footer
        p.meta-color
            span Proudly built with&nbsp;
            a(href=`${me.github}/meblog` target='_blank') <b>meblog</b>
            span.separator &nbsp;-&nbsp
            span Hosted by&nbsp;
            a(href='https://www.netlify.com/' target='_blank') <b>Netlify</b>

