mixin header
    header.header
        ul.header__menu
            li
                a(href=url('/')) About
            li
                a(href=me.github target='_blank') Code
            li
                a(href='https://x.com/realsinzii' target='_blank') Twitter / X
            li
                a(href=url('/writings.html') target='_blank') Writings
