.personal-board {
  text-align: center;
}

.avatar {
  display: block;

  &__image {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: block;
  }

  &__image_small {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .avatar {
    &__image {
      width: 150px;
      height: 150px;
    }

    &__image_small {
      width: 80px;
      height: 80px;
    }
  }
}
